<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="DataBaseContext" connectionString="Data Source=(local);Initial Catalog=CityTravelDB;  Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="DataBaseContext" connectionString="Data Source=localhost;Initial Catalog=CityTravelDB;  Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DataBaseContext" connectionString="Data Source=94.247.29.151;Initial Catalog=CityTravelDB;Integrated Security=false;User Id=sa;Password=Marshrutka_TC_07;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CacheTime" value="5"/>
    <add key="RouteRadiusSeach" value="1500"/>
    <add key="MaxTimeConstraint" value="2"/>
    <add key="WalkingSpeed" value="5"/>
    <add key="MaxStopRadiusSeach" value="500"/>
    <add key="MaxFindIndexDeflection" value="30"/>
    <add key="MaxIndexDeflection" value="7"/>
    <add key="MaxRelationsBuffer" value="5"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      
      <assemblies> 
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.SqlServer.Types, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="Microsoft.SqlServer.Types"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
